.box1{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 20px 20px 0px 0px ;
    position: absolute;
    top: 30px;

}
.box2{
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 30% 30% 20px 20px;
    position: absolute;
    top: 150px;
    
}
.box3{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 230px;
    

}
.prents{
    display: flex;
    justify-content: center;
    position: relative;
}
.back{
  height: 300px;
  width: 250px;
  background-color: black;
  position: absolute;
  top: 500px;
  bottom: 10px;
}

.triangle-up{
    height: 0;
    width: 0;
    border-left: 55px solid transparent;
	border-right: 55px solid transparent ;
    border-bottom: 110px solid red;
     
    position: absolute;
    top: 520px;
    right:610px ;
    
}

.triangle{
     height: 0;
    width: 0;
    border-left: 55px solid transparent;
	border-right: 55px solid transparent ;
     border-bottom: 110px solid greenyellow;
    margin: auto;
    position: absolute;
    right: 610px;
    top: 600px;
    
}
.triangle2{
     height: 0;
    width: 0;
    border-left: 55px solid transparent;
	border-right: 55px solid transparent ;
     border-bottom: 110px solid blue;
    margin: auto;
    position: absolute;
   top: 670px;
   left: 610px;
    

}
.prents2{
    display: flex;
    justify-content: center;
    position: relative;
}
.box{
    height: 60px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 962px;
    right: 789px; 
}
.triangle3{
    width: 0px;
    height: 0px;
    border-top: 150px solid transparent;
    border-right: 300px solid blue;
    border-bottom: 150px solid transparent;
    position: absolute;
    top: 843px;
    left: 450px; 
}
.circle{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    
    border: 7px solid blue;
    position: absolute;
    top:860px ;
    left: 683px;
}
.circle1{
    height:180px ;
    width: 180px;
    border-radius: 50%;
    
    border: 7px solid blue;
    position: absolute;
    top: 900px;
    left: 724px;
}
.circle2{
   height:130px ;
    width: 130px;
    border-radius: 50%;
    
    border: 7px solid blue;
     position: absolute;
    top: 926px;
    left: 740px;  
}
.dbo{
  height: 300px;
  width: 60px;
  /* border: 2px solid black; */
  background-color: white;
  position: absolute;
  top: 850px;
  left: 750px;
}
.maick{
    position: relative;
    align-items: center;
    justify-content: center;
}
